name: cargo-deny

on:
  pull_request:
    paths:
      - '.github/workflows/cargo-deny.yml'
      - 'Cargo.lock'
      - 'deny.toml'

permissions:
  contents: read

jobs:
  cargo-deny:
    name: check
    runs-on: ubuntu-24.04
    steps:
      - name: Install cargo-deny from source
        run: |
          cargo install cargo-deny
      - name: checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: check
        run: |
          cargo deny check
