name: "Run TODO to Issue"
on:
    push:
        branches:
            - master
jobs:
    build:
        permissions:
            contents: read
            issues: write
        runs-on: "ubuntu-24.04"
        steps:
            -
                uses: "actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd" # v5
                with:
                    persist-credentials: false
            -
                  name: "TODO to Issue"
                  uses: "alstr/todo-to-issue-action@v5"
                  with:
                      AUTO_ASSIGN: true
