name: "Run TODO to Issue"
on:
    push:
        branches:
            - master
jobs:
    build:
        permissions:
            contents: read
            issues: write
        runs-on: "ubuntu-24.04"
        steps:
            -
                uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6
                with:
                    persist-credentials: false
            -
                  name: "TODO to Issue"
                  uses: "alstr/todo-to-issue-action@v5"
                  with:
                      AUTO_ASSIGN: true
